<!-- Left Sidebar - style you can find in sidebar.scss  -->
        
        <aside class="left-sidebar mrp-fixed-width" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav mrp-overflow-hidden">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-content hide-menu m-l-2">
                                    <h5 class="m-b-0 user-name font-medium">Steave Jobs</i></h5>
                                    <span class="op-5 user-email">varun@gmail.com</span>
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        <!-- User Profile-->
                        <li class="sidebar-item"> 
                            <a class="sidebar-link waves-effect waves-dark sidebar-link active" href="index.html" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard "></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item"> 
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false">
                                <i class="fas fa-shopping-cart"></i><span class="hide-menu">Cart</span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item"> 
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="table-basic.html"  aria-expanded="false">
                                <i class="mdi mdi-border-all "></i><span class="hide-menu">Table</span>
                            </a>
                        </li>

               
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->